.nav-main{background-color:#ff5866; }

.call_to_action_black{
   background:linear-gradient(315deg, #ff5866, #ff5866, #ff5866, #ff5866);}

body{ 

background-color:#06070b;  06070b  ff5866 
/*
background-image: url(bg.jpg); 

background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: darken;
  margin: 0 auto; */
  }

.escondebotao{display:none!important}
.escondepreco{display:none!important}





.inativo {
  
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 20px 10px;
    font-family:'Roboto Condensed', 'Arial', sans-serif;
    font-size: 24px;
    line-height: 36px;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    position: relative;
    border-radius: 5px;
    color: #fff;
    /* background: linear-gradient(268deg, #07193d, #072324, #07193d, #072324); */
     background: linear-gradient(to right,#ff5866,#ff5866);
    background-size: 500% 500%;
    cursor: default;
    opacity: 0.1;

}

.animacao-botao1 {

margin-top: -15px;
z-index: 10;
text-decoration: none;
padding:20px 10px;
width:100%;
    display:block;
    box-sizing:border-box;
    text-transform:uppercase;
  text-align:center;font-size:24px;line-height:36px;font-weight:bold;
    font-family:'Roboto Condensed', 'Arial', sans-serif;color:#fff;border-radius:5px;

box-shadow: 0 0 0 0 #fff;
background: linear-gradient(to right,#ff5866,#ff5866);

/*background:  linear-gradient(30deg, #00ff93, #006eff);*/

-webkit-font-smoothing: antialiased;


position: relative;
width: 100%;

background-size:cover;
background-repeat: no-repeat;
cursor: pointer;
-webkit-animation: pulse 1s infinite cubic-bezier(0.66, 0, 0, 1);
-moz-animation: pulse 1s infinite cubic-bezier(0.66, 0, 0, 1);
-ms-animation: pulse 1s infinite cubic-bezier(0.66, 0, 0, 1);
animation: pulse 1s infinite cubic-bezier(0.66, 0, 0, 1);
}
.animacao-botao1:hover 
{
    background: linear-gradient(to right,#ff5866,#ff5866);
-webkit-animation: pulse 1s infinite cubic-bezier(0.66, 0, 0, 1);
-moz-animation: pulse 1s infinite cubic-bezier(0.66, 0, 0, 1);
-ms-animation: pulse 1s infinite cubic-bezier(0.66, 0, 0, 1);
animation: pulse 1s infinite cubic-bezier(0.66, 0, 0, 1);
}

@-webkit-keyframes pulse {to {box-shadow: 0 0 0 15px rgba(232, 76, 61, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 15px rgba(232, 76, 61, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 15px rgba(232, 76, 61, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 15px rgba(232, 76, 61, 0);}}