/* Reset */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body, html { font-family: 'Montserrat', sans-serif !important; }
.header {
    display: none !important;
}
body {
	background: #000000 url(img/bg.jpg) no-repeat 50% 0 !important;
}
/* Reset */

/* PV Nova */

section.principal-pv3{
	background: #000000 url(img/bg-pv3.jpg) no-repeat 50% 0 !important;
	margin-bottom: -5px;
}
img.potes-pv3 {
    clear: both;
    display: block;
	width: 100%;
    margin: 50px auto;
}
a.cta-topo-pv3, a.cta-fotos-resultados-pv3, a.cta-formula-pv3, a.cta-wpp-pv-pv3 {
	width: 45% !important;
	margin: 30px auto 20px auto !important;
}
.a.cta-ciclo  {
	width: 100% !important;
	margin: 30px auto 20px auto !important;
}
.list-left, .list-right {
    margin: 200px 0 0 0 !important;
}
.list-left h3 {
    text-align: right;
    color: #ffffff;
    font-weight: 600;
    font-size: 22px;
    margin: 30px 0;
}
.list-right h3 {
    text-align: left;
    color: #ffffff;
    font-weight: 600;
    font-size: 20px;
    margin: 30px 0;
}
.list-left h3 svg, .list-right h3 svg {
    margin-bottom: -5px;
}
section#tarja-estoque {
    background: #F8E183;
    padding: 10px 0;
}
section.tarja-estoque h1 {
    margin: 0 290px;
    border: dashed 2px red;
    text-align: center;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 600;
    color: red;
    clear: both;
    display: block;
}
section.principal-pv3 h2 {
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
}
section.principal-pv3 h2 span {
    color: #F8E183;
    font-size: 40px;
}
section.fotos-resultados h1 {
    color: #F8E183;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    margin: 0 0 50px 0;
}
/* Como usar */
section.como-usar {
    background: #f8e183;
    padding: 50px 0 0 0;
}
section.como-usar h1 {
    color: #000000;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    margin: 0 0 50px 0;
}
section.como-usar p {
    text-align: center;
    font-size: 19px;
    line-height: 1.5;
    margin-bottom: 20px;
}
a.cta.cta-comousar, a.cta.cta-ciclo {
    width: 90%;
	margin-bottom: 10px;
}
/* Ciclos calvice */
section.ciclos-calvice {
    background: #000000;
    padding: 50px 0;
}
img.img-clicocalvice {
    clear: both;
    display: block;
    width: 70%;
    margin: auto;
}
section.ciclos-calvice h1 {
    color: #F8E183;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    margin: 50px 0 30px 0;
}
section.ciclos-calvice p {
    color: #ffffff;
    font-size: 25px;
    text-align: center;
    line-height: 1.5;
	margin: 0 0 30px 0;
}
/* Garantia */
img.fotos-garantia {
    clear: both;
    display: block;
    width: 70%;
    margin: auto;
}
/* Frete Grátis */
section.frete-gratis {
    background: #f8e183;
    padding: 50px 0 0 0;
}
section.frete-gratis h1 {
    color: #000000;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
	text-transform: uppercase;
    margin: 0 0 50px 0;
}
section.frete-gratis p {
    color: #000000;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin: 20px 0 0 0;
}
section.frete-gratis p strong {
	font-size: 20px;
    font-weight: 900;
}
img.frete-foto {
    clear: both;
    display: block;
    width: 60%;
    margin: auto;
}
img.frete-truck {
    clear: both;
    display: block;
    width: 50%;
    margin: 0 auto 30px auto;
}
/* Atendimento */
section.comprar-whatsapp {
    background: #ffffff;
    padding: 50px 0;
}
img.wpp-pv.img-fluid {
	clear: both;
	display: block;
    width: 130px;
    height: 130px;
    margin: 0 auto 35px auto;
}
section.comprar-whatsapp h1 {
    color: #000000;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    margin: 0 0 50px 0;
}
section.comprar-whatsapp h2 {
    color: #000000;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin: 50px 0 0 0;
}
section.comprar-whatsapp p {
    text-align: center;
    margin: 0;
}
section.comprar-whatsapp img.tarja-selos {
    clear: both;
    display: block;
    width: 30%;
    margin: 0 auto;
}
a.cta.cta-topo-pv3 svg {
    margin-bottom: -10px;
}
a.cta-wpp-pv-pv3 svg {
    margin-bottom: -2px !important;
}
/* PV Nova */

/* Header */
header.header {
	background: #f8e183;
}
img.icon-big {
    clear: both;
    display: block;
    margin: 10px auto;
	width: 12%;
}
/* Header */

/* Principal */
section.principal {
    clear: both;
    display: block;
    padding: 0 0 50px 0;
}
img.tarja-topo {
    clear: both;
    display: block;
    margin: 50px auto 0 auto;
}
section.principal h1 {
    font-size: 40px;
    font-weight: 800;
    color: #ffffff;
    text-align: center;
    margin: 100px 0 0 0;
}
img.potes-topo {
    clear: both;
    display: block;
    width: 90%;
    margin: 50px auto 0 auto;
}
a.cta {
    clear: both;
    display: block;
    text-align: center;
    color: #ffffff;
    font-weight: 700;
    font-size: 20px;
    background: #00AC69;
    text-decoration: none;
    padding: 20px 0;
    width: 70%;
    margin: 0 auto;
	-webkit-transition: all .4s linear;
	-moz-transition: all .4s linear;
	transition: all .4s linear;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
}
a.cta svg {
    margin-bottom: -11px;
    fill: #ffffff;
}
a.cta:hover {
	background: #23d079;
}
a.cta-topo {
    margin: 30px auto 15px auto;
}
.pulsar {
    animation-name: pulse;
    -webkit-animation-name: pulse;
    animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}
@keyframes pulse{
0%,100%{transform:scale(.9);opacity:.9;}
50%{transform:scale(1);opacity:1;}
}
@-webkit-keyframes pulse{
0%,100%{-webkit-transform:scale(.95);opacity:.7}
50%{-webkit-transform:scale(1);opacity:1}
}
section.principal p {
    text-align: center;
    color: #ffffff;
    fill: #ffffff;
	margin: 0;
}
section.principal p svg {
    margin-bottom: -2px;
    fill: #ffffff;
}
/* Principal */

/* Principal PV2 */
section.principal-pv2 {
    background: #111827;
}
img.logo-branca {
    clear: both;
    display: block;
    width: 35%;
    margin: 30px auto 30px auto;
}
section.principal-pv2 h1 {
    color: rgba(255,255,255,.68);
    font-size: 19px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 6px;
    text-align: left;
}
section.principal-pv2 h2 {
	color: #fff;
    font-size: 35px;
    font-weight: 600;
    text-align: left;
}
section.principal-pv2 h3 {
	color: #fff;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.2em;
    text-align: left;
}
section.principal-pv2 p {
    text-align: center;
    color: #ffffff;
    fill: #ffffff;
    margin: 0;
    text-align: left;	
}
img.pote-pv2 {
    clear: both;
    display: block;
    width: 80%;
    margin: auto;
}
a.cta-topo-red {
    clear: both;
    display: block;
    text-align: center;
    color: #ffffff;
    font-weight: 700;
    font-size: 20px;
    background: #F94845;
    text-decoration: none;
    padding: 20px 0;
    width: 70%;
    margin: 50px 0 10px 0;
    -webkit-transition: all .4s linear;
    -moz-transition: all .4s linear;
    transition: all .4s linear;
    border-radius: 100px 100px 100px 100px;
    -moz-border-radius: 100px 100px 100px 100px;
    -webkit-border-radius: 100px 100px 100px 100px;
}
/* Principal PV2 */

/* Poder */
section.poder {
    clear: both;
    display: block;
    background: #000000;
    padding: 50px 0 0 0;
}
section.poder h1 {
	color: #F8E183;
	font-size: 40px;
	font-weight: 800;
	text-align: center;
	margin: 0 0 50px 0;
}
.poder-item {
	margin-bottom: 50px;
}
img.pd-item {
    clear: both;
    display: block;
    width: 50%;
    margin: auto;
}
section.poder h2 {
	color: #F8E183;
	font-size: 20px;
	font-weight: 700;
	text-align: center;
	margin: 0 0 10px 0;
}
section.poder p {
	color: #ffffff;
	text-align: center;
	margin: 0;
}
/* Poder */

/* Poder PV2 */
section.poder-pv2 {
    background: #f9f9f9;
}
/* Poder PV2 */

/* Recupere */
section.recupere {
    background: #F8E183;
    padding: 50px 0;
}
section.recupere h1 {
	color: #000000;
	font-size: 40px;
	font-weight: 800;
	text-align: center;
	margin: 0 0 20px 0;
}
section.recupere h2 {
	color: #000000;
	font-size: 18px;
	font-weight: 600;
	text-align: center;
	margin: 0 0 50px 0;
}
section.recupere iframe {
    width: 100%;
    height: 500px;
}
section.recupere p {
	color: #000000;
	font-size: 18px;
	font-weight: 600;
	margin: 0 0 15px 0;
}
section.recupere p svg {
    margin-bottom: -6px;
}
a.cta-recupere.pulsar {
    margin: 50px auto 10px auto;
}
img.tarja-selos {
    clear: both;
    display: block;
    width: 55%;
    margin: 0 auto;
}
/* Recupere */

/* Resultados */
section.resultados {
    background: #ffffff;
    padding: 50px 0;
}
section.resultados h1 {
	color: #000000;
	font-size: 40px;
	font-weight: 800;
	text-align: center;
	margin: 0 0 20px 0;
}
img.logo {
    clear: both;
    display: block;
    width: 40%;
    margin: auto;
}
section.fotos-resultados {
	background: #000000;
	padding: 50px 0;
}
a.cta-fotos-resultados {
	width: 35%;
    margin: 50px auto 10px auto;
}
section.fotos-resultados img.tarja-selos {
    clear: both;
    display: block;
    width: 30%;
    margin: 0 auto;
}
/* Resultados */

/* Formula */
section.formula {
    background: #ffffff;
    padding: 50px 0;
}
section.formula h1 {
	color: #000000;
	font-size: 40px;
	font-weight: 800;
	text-align: center;
	margin: 0 0 50px 0;
}
a.cta-formula {
	width: 35%;
    margin: 50px auto 10px auto;
}
section.formula img.tarja-selos {
    clear: both;
    display: block;
    width: 30%;
    margin: 0 auto;
}
img.img-formula-item {
    clear: both;
    display: block;
    width: 50%;
    margin: auto;
}
.formula-item h2 {
	color: #000000;
	font-size: 20px;
	font-weight: 700;
	text-align: center;
	margin: 0 0 10px 0;
}
.formula-item p {
	text-align: center;
	margin: 0;
}
/* Formula */

/* Oferta */
section.oferta {
    background: #000000;
    padding: 50px 0;
}
section.oferta h1 {
	color: #F8E183;
	font-size: 40px;
	font-weight: 800;
	text-align: center;
	margin: 0 0 20px 0;
}
section.oferta h2 {
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin: 0 0 50px 0;
}
/* Oferta */

/* Garantia */
section.garantia {
    background: #ffffff;
    padding: 50px 0;
}
section.garantia h1 {
	color: #000000;
	font-size: 40px;
	font-weight: 800;
	text-align: center;
	margin: 0 0 50px 0;
}
section.garantia h2 {
    color: #000000;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin: 50px 0 0 0;
}
img.selo-garantia {
    clear: both;
    display: block;
    width: 60%;
    margin: auto;
}
img.antes-depois {
    clear: both;
    display: block;
    width: 50%;
    margin: auto;
}
/* Garantia */

/* FAQ */
section.faq {
    background: #000000;
    padding: 50px 0;
}
section.faq h1 {
	color: #ffffff;
	font-size: 40px;
	font-weight: 800;
	text-align: center;
	margin: 0 0 50px 0;
}
.faq-item {
    clear: both;
    display: block;
    overflow: hidden;
	margin: 0 0 10px 0;
}
.accordion {
  cursor: pointer;
  width: 100%;
  text-align: left;
  outline: none;
  font-size: 16px;
  transition: 0.4s;
	border: none;
	position: relative;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    clear: both;
    display: block;
    padding: 20px 20px 30px 20px;
    background: #ffffff;
    -webkit-transition: all .4s linear;
    -moz-transition: all .4s linear;
    transition: all .4s linear;
}
button.accordion svg {
    margin-top: -5px;
}
.panel {
    padding: 0 25px;
    background: #fafafa;
    color: #000000;
    max-height: 0;
    margin-top: -12px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.panel p {
    margin: 25px 0;
}
/* FAQ */

/* Página de pote extra */
section.pote-estra-page {
    background: #ffffff;
    padding: 0;
}
.diferenciais-oferta-extra {
    background: #000000;
    padding: 35px 0;
}
.head-sub-mobile {
	display: none;
}
.diferenciais-oferta-extra svg {
    fill: #f8e183;
    width: 25%;
    margin: 0 auto 20px auto;
    clear: both;
    display: block;
}
.diferenciais-oferta-extra p {
    text-align: center;
    color: #ffffff;
    font-weight: 500;
}
span.arrow-down img {
    width: 3%;
    clear: both;
    display: block;
    margin: 0 auto 50px auto;
}
.potes-oferta-extra h1, .depoimentos-oferta-extra h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    color: #000000;
    margin: 0 auto 50px auto;
}
.oferta-extra-item img {
	margin-bottom: 50px;
}
/* Página de pote extra */

/* Páginas legais*/
section.page-padrao {
    background: #ffffff;
    padding: 100px 0;
}
section.page-padrao h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 800;
    margin: 0 auto 50px auto;
}
section.page-padrao p {
    text-align: justify;
    margin: 15px 0;
}
/* Páginas legais*/

/* Páginas de Obrigado */
section.page-obrigado {
    background: #ffffff;
    padding: 100px 0;
}
section.page-obrigado img.potes-topo {
    width: 55%;
    margin: auto;
}
section.page-obrigado h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 800;
    margin: 0 auto 30px auto;
}
section.page-obrigado p {
    text-align: center;
}
img.icon-obg {
    clear: both;
    display: block;
    width: 20%;
    margin: 0 auto 30px auto;
}
/* Páginas de Obrigado */

/* Rodapé */
footer.footer {
    background: #000000;
    padding: 50px 0;
    border-top: solid 1px #F8E183;
}
footer.footer h1 {
    color: #F8E183;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 0 20px 0;
}
footer.footer a {
    clear: both;
    display: block;
    color: #ffffff;
    margin-bottom: 10px;
	font-size: 13px;
}
a.whatsapp-ft {
    background: url("../img/whatsapp.jpg")no-repeat center !important;
    background-size: 75px !important;
    z-index: 1000;
    height: 75px;
    width: 75px;
	text-decoration: none;
}
.blob {
	background: black;
	border-radius: 50%;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	margin: 0px 50px;
	height: 20px;
	width: 20px;
	transform: scale(1);
	animation: pulse-black 2s infinite;
    color: #ffffff;
    text-align: center;
    font-size: 10px;
    line-height: 2;
    font-weight: 700;
}

@keyframes pulse-black {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.8);
	}
	
	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}
	
	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}
.blob.red {
	background: rgba(255, 82, 82, 1);
	box-shadow: 0 0 0 0 rgba(255, 82, 82, 1);
	animation: pulse-red 2s infinite;
}

@keyframes pulse-red {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
	}
	
	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
	}
	
	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
	}
}
/* Rodapé */

/* 09. Responsivo */
@media (max-width: 800px) {
	section.tarja-estoque h1 {
    	margin: 0;
	}
	img.logo-branca {
		width: 95%;
	}
	.list-left, .list-right {
		margin: 50px 0 0 0 !important;
	}
	section.principal-pv3 {
		background-size: cover !important;
	}	
	img.potes-pv3 {
		clear: both;
		display: block;
		margin: 0 auto;
		width: 75%;
	}
	img.pote-pv2 {
		width: 75%;
		margin: 50px auto 0;
	}	
	.list-left h3, .list-right h3 {
    	text-align: center;
	}
	section.principal-pv2 p, section.principal-pv2 h1, section.principal-pv2 h2, section.principal-pv2 h3 {
    	text-align: center !important;
	}
	section.principal h1 {
		font-size: 25px;
		margin: 50px 0 0 0;
	}
	img.potes-topo {
		width: 75%;
	}
	a.cta {
		width: 100%;
	}
	a.cta-topo-pv3, a.cta-fotos-resultados-pv3, a.cta-formula-pv3, a.cta-wpp-pv-pv3, a.cta.cta-comousar, a.cta.cta-ciclo {
		width: 100% !important;
		margin: 30px auto 20px auto !important;
	}	
	section.poder h1, section.recupere h1, section.resultados h1, section.formula h1, section.oferta h1, section.garantia h1, section.faq h1, .potes-oferta-extra h1, .depoimentos-oferta-extra h1, section.fotos-resultados h1, section.ciclos-calvice h1, section.frete-gratis h1, section.comprar-whatsapp h1, section.como-usar h1 {
		font-size: 25px;
	}
	img.pd-item, img.img-formula-item, img.selo-garantia {
		width: 40%;
		margin: 0 auto 20px auto;
	}
	img.tarja-selos, section.fotos-resultados img.tarja-selos, section.formula img.tarja-selos, section.comprar-whatsapp img.tarja-selos {
		width: 75%;
	}
	img.logo {
		width: 70%;
	}
	img.img-prv {
		margin: 15px auto;
	}
	.formula-item {
		margin: 25px 0;
	}
	img.oferta-item {
		clear: both;
		display: block;
		width: 75%;
		margin: 40px auto;
	}
	img.antes-depois {
		width: 60%;
		margin: 35px auto 0 auto;
	}
	section.garantia h2, section.comprar-whatsapp h2 {
		margin: 35px 0 30px 0;
		font-weight: 400;
	}
	img.logo-ft {
		clear: both;
		display: block;		
		width: 40%;
		margin: 0 auto 40px auto;
	}
	footer.footer h1 {
		text-align: center;
		margin: 0 0 25px 0;
	}
	a.whatsapp-ft {
		margin: 0 auto 30px auto !important;
	}
	footer.footer a {
    	text-align: center;
	}
	img.pagamento, img.seguranca {
		clear: both;
		display: block;		
		width: 70%;
		margin: 0 auto 30px auto;
	}
	.diferenciais-oferta-extra svg {
		width: 15%;
		margin: 10px auto 20px auto;
	}
	.oferta-extra-item img {
		width: 90%;
		margin: 0 auto 50px auto;
	}
	.head-sub-mobile {
		display: block;
	}
	.head-sub-mobile h1 {
		text-align: center;
		color: #f8e183;
		font-weight: 800;
		text-transform: uppercase;
		font-size: 35px;
		margin-bottom: 30px;
	}
	.head-sub-mobile h2 {
		text-align: center;
		color: #ffffff;
		font-weight: 600;
		text-transform: uppercase;
		font-size: 18px;
		margin: 0;
	}
	.diferenciais-oferta-extra-item {
		display: none;
	}
	span.arrow-down img {
		width: 15%;
		margin: -1px auto 50px auto;
	}
}
/* Responsivo */